@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
  font-family: 'Open Sans', sans-serif;
}

$darkblue1: #000144;
$darkblue2: #023E8A;
$darkblue3: #0077B6;

$blue1: #0096C7;
$blue2: #00B4D8;
$blue3: #90E0EF;

$lightblue1: #90E0EF;
$lightblue2: #ADE8F4;
$lightblue3: #CAF0F8;

$lilac: #9b59b6;

$darkgray: #141111;
$whitegray: #c1c2c5;
$white: #fff;
$black: #000;

$normalfont: 16px;
$titlefont: 30px;

@mixin background-gradient(){
  background: linear-gradient(135deg,  $lightblue1, $lilac);
}