@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
  font-family: 'Open Sans', sans-serif;
}

$darkblue1: #000144;
$darkblue2: #023E8A;
$darkblue3: #0077B6;

$blue1: #0096C7;
$blue2: #00B4D8;
$blue3: #90E0EF;

$lightblue1: #90E0EF;
$lightblue2: #ADE8F4;
$lightblue3: #CAF0F8;

$lilac: #9b59b6;
$purple: #6e3e81;

$darkgray: #444444;
$whitegray: #dddddd;
$gray: #808080;
$white: #fff;
$black: #000;

$errfont: 9px;
$detailfont: 13px;
$normalfont: 16px;
$titlefont: 30px;

@mixin background-gradient(){
  background: linear-gradient(135deg,  $lightblue1, $lilac);
}

@mixin custom-gradient($color1, $color2){
  background: linear-gradient(135deg,  $color1, $color2);
}

.loading{
  animation: is-rotating 0.8s infinite linear;
  border: 6px solid #e5e5e5;
  border-top-color: $blue1;
  border-radius: 30px;
  height: 30px;
  width: 30px;
}

@keyframes is-rotating{
  to {
    transform: rotate(1turn)
  }
}