@import "src/styles/reset";
@import "src/styles/colors";

.header {
  background-color: $darkblue1;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo {
    margin-left: 1%;
    margin-right: 0.5vw;
    max-width: 85%;
    max-height: 85%;
    color: $lightblue1;
  }

  &__searchbar {
    display: flex;

    &__input {
      padding: 0.5vh calc(40vw - 200px) 0.5vh 1vw;
      border-bottom-left-radius: 5px;
      border-top-left-radius: 5px;
      border: 0;
      margin-left: 1vw;
    }

    &__search {
      background-color: $blue3;
      padding-top: 4px;
      border-bottom-right-radius: 5px;
      border-top-right-radius: 5px;
      border: 0;
    }
  }

  &__button {
    display: none;
  }

  &__nav {
    float: right;
    width: 480px;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;

    &__link {
      height: 90%;
      width: 32%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: $lightblue3;
      text-decoration: none;
      border: $darkblue1 solid 1px;
      margin-top: 1px;
      &:first-child{
        cursor: pointer;
        z-index: 105;
      }
      &:hover{
        border: $white solid 1px;
      }
    }
  }
}

.popup{
  position: fixed;
  top: 0;
  left:0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.3);
  &__popupInner{
    position: absolute;
    float: right;
    top: 50px;
    right: 0;
    display: grid;
    width: 480px;
    gap: 1px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    background-color: $black;
    z-index: 2000;
    &__popupBtn{
      height: 50px;
      background-color: white;
      border:1px solid $white
    }
  }
  &__popupArrow{
    position: absolute;
    background-color: $white;
    width: 40px;
    height: 40px;
    top: 50px;
    right: 380px;
    z-index: 105;
    transform: rotate(45deg);

  }
}

@media (max-width: 1050px){
  .header {
    &__searchbar {
      &__input {
        padding: 0.5vh calc(34vw - 200px) 0.5vh 1vw;
      }
    }
    &__nav {
      width: 380px;
    }
  }

  .popup{
    &__popupInner{
      width: 380px;
    }
    &__popupArrow{
      right: 293px;
    }
  }
} 

@media (max-width: 700px) {
  .header {
    display: inline-block;

    &__logo{
      margin-top: 3px;
      float: left;
    }

    &__searchbar {
      display: flex;
  
      &__input {
        padding: 0.5vh calc(70vw - 250px) 0.5vh 1vw;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
        border: 0;
        margin-left: 5vw;
        margin-top: 10px;
      }
  
      &__search {
        background-color: $blue3;
        padding-top: 4px;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
        border: 0;
        margin-top: 10px;
      }
    }

    &__nav {
      display: flex;
      position: fixed;
      inset: 0 0 0 calc(100% - 190px);
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: flex-start;
      justify-content: center;
      gap: 20px;
      padding: 150px 2rem 120px 2rem;
      background: hsl(0 0% 100%/ 0.1);
      z-index: 1000;
      transform: translateX(100%);
      transition: 350ms ease-out;
      height: 0;
      &__link {
        height: 50px;
        padding: 11px 0 11px 0;
        border-left: 2px solid  $lightblue1;
        border-right: 2px solid  $lightblue1;
        align-items: center;
        &:last-child{
          padding-top: 7px;
          padding-bottom: 7px;
        }
        &:hover{
          border-left: 2px solid  $lightblue1;
          border-right: 2px solid  $lightblue1;
        }
      }
    }
    &__nav[data-visible="true"] {
      transform: translateX(0%);
    }

    &__button{
      display: block;
      position: absolute;
      top: 16px;
      right: 16px;
      z-index: 9999;
      color: white;
    }
  }

  .popup{
    &__popupInner{
      width: 190px;
      top: 110px;
      right: 254px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      &__popupBtn{
        height: 80px;
      }
    }
    &__popupArrow{
      display: none;
    }
  }
}

