@import "src/styles/reset";
@import "src/styles/colors";

.footer{
  display: flex;
  justify-content: center;
  color: $white;
  padding-bottom: 20px;
  margin-top: 20px;
  &__contato{
    margin-left: 1%;
    color: $lightblue3;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
  }
}
