@import "src/styles/reset";
@import "src/styles/colors";

.footer{
  display: flex;
  justify-content: center;
  color: $darkblue1;
  font-weight: 70;
  padding-bottom: 20px;
  margin-top: 20px;
  &__contato{
    margin-left: 4px;
    color: $lightblue3;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
  }
}
